html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,
code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,
header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
html{height:100%}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}

.swiper {
    width: 100vw;
    height: 100vh;
    background-color: #66341C;
}

.swiper__container {
    margin: 0 auto;
    padding: 0 15px;
    width: 80vw;
    height: 50vh;
}

.swiper__header {
    margin: 0 auto;
    width: 50vw;
    text-align: center;
    font-family: 'Alkatra';
}

.swiper__title {
    font-size: 34px;
    line-height: 1.5;
    padding: 15px 0;
    letter-spacing: 0.5em;
    color: #33ffff;
    opacity: 0.5;
}

.swiper__items {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 60vw;
    height: 75vh;
}

.swiper__button-prev{
    display: flex;
    height: 50vh;
    margin: 0 auto;
    align-items: center;
    opacity: .5;
    background-color: #181818;
    border-radius: 5px;
    
}

.button-prev {
    align-items: center;
    height: 250px;
}

.swiper__content {
    flex: 1 1 80%;
    background-size: contain;
    background-position: center center;
    border: 2px solid #33ffff;
}

.swiper__button-next {
    display: flex;
    align-items: center;
    height: 50vh;
    margin: 0 auto;
    opacity: .5;
    background-color: #181818;
    border-radius: 5px;
}

.button-next {
    align-items: center;
    height: 250px;
}

.button {
    display: flex;
    margin: auto 0;
    border: grey;
    background: #009999;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    transition: all 500ms ease; 
}

.button:hover {
    background: rgba(0,0,0,0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #33ffff;
    transition: 1s;
}


.button__icon {
    max-width: 50px;
}

.button__icon:hover {
    background-color: white;
    border-radius: 50%;
    transition: 1s;
}

.button__icon-next {
    transform: rotate(180deg);
}

.interactive-list {
    display: flex;
    align-items: center;
    margin: 50px auto 0;
    width: 280px;
}


.arrow-next {
    transform: rotate(180deg);
}

.interactive__list-dot {
    flex-direction: row;
    justify-content: space-between;
    margin-right: 5px;
    max-width: 45px;
    background-color: #009999;
    border-radius: 50%;
}

.active {
    width: 100%;
    height: 100%;
    background-size: cover;
}